{% extends "template.twig" %}
{% block body %}
    <h1>Erreur 404, page non trouvée.</h1>
    <h4>Cela signifie que le lien que vous cherchez n'existe pas, ou n'est pas valide.</h4>
    <p><a href="{{ baseUrl }}">Retour à l'accueil</a></p>
{% endblock %} 