{% extends "template.twig" %}
{% block body %}
<div>
    <h3>Identifiez-vous</h3>
    <form action="{{ baseUrl }}/login" method="post" class="form-group needs-validation" novalidate>
        <label for="signinEmail">Login</label><br />
        <div class="col-md-3 mb-3 pl-0">
            <input type="text" id="signinEmail" name="signinEmail" class="form-control form-control-md"
                   placeholder="Votre email" required />
            {% if errors.noEmail %}
                <p>L'identifiant n'existe pas</p>
            {% endif %}
        </div>
        <div>
            <label for="signinPwd">Mot de passe</label><br />
            <div class="col-md-3 mb-3 pl-0">
                <input type="password" id="signinPwd" name="signinPwd" rows="10"
                       class="form-control form-control-md " placeholder="Votre mot de passe" required></textarea>
                {% if errors.wrongPwd %}
                    <p>Le mot de passe est incorrect</p>
                {% endif %}
            </div>
        </div>
        <p>Pas encore inscrit ? <a href="{{ baseUrl }}/register">c'est par ici</a></p>
        <div>
            <input type="submit" value="Envoyer" class="btn btn-primary p-1" />
        </div>
        {% if errors.emptyField %}
            <p>Un des champs est vide.</p>
        {% endif %}
    </form>
</div>
{% endblock %}