{% extends "template.twig" %}
{% block body %}
    <div>
        <h3>Inscrivez-vous</h3>
        <form action="{{ baseUrl }}/newuser" method="post" class="form-group needs-validation" novalidate>
            <label for="registerEmail">Votre email</label>
            <div class="input-group mb-3 col-md-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input type="text" id="registerEmail" name="registerEmail" aria-describedby="inputGroupPrepend"
                       placeholder="Votre email" required/>
                {% if errors.email_exists %}
                    <p>L'email existe déjà</p>
                {% elseif errors.regex_email %}
                    <p>Veuillez rentrer un email valide. Lettres, chiffres, _ , . , - autorisés</p>
                {% endif %}
            </div>
            <div>
                <label for="Nickname">Votre pseudo</label><br/>
                <div class="col-md-3 mb-3 pl-0">
                    <input type="text" id="registerNickname" name="registerNickname" rows="10"
                           placeholder="Votre pseudo" required/>
                </div>
                {% if errors.nickname_exists %}
                    <p>Le pseudo est déjà pris</p>
                {% elseif errors.regex_nickname %}
                    <p>Renseignez un pseudo valide (Lettres et chiffres)</p>
                {% elseif errors.short_nickname %}
                    <p>Le pseudo doit faire minimum 3 caractères</p>
                {% endif %}
            </div>
            <div>
                <label for="registerPwd">Mot de passe</label><br/>
                <div class="col-md-3 mb-3 pl-0">
                    <input type="password" id="registerPwd" name="registerPwd" rows="10"
                           placeholder="Votre mot de passe" class="form-control form-control-md"
                           placeholder="Votre mot de passe" required>
                    {% if errors.regex_pwd %}
                        <p>Le mot de passe ne doit comprendre que des chiffres et lettres</p>
                    {% elseif errors.short_pwd %}
                        <p>Le mot de passe doit faire minimum 8 caractères </p>
                    {% endif %}
                </div>
            </div>
            <div>
                <input type="submit" value="Envoyer" class="btn btn-primary p-1"/>
            </div>
            {% if errors.empty_field is defined %}
                <p>Un des champs est vide</p>
            {% endif %}
        </form>
    </div>
{% endblock %}